extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item
      a(href="/carat") ကာရက်
    li.breadcrumb-item.active
      span စာရင်းသွင်း
  h1.page-header ကာရက်
  div.row.from-wrapper
    div.alert.alert-dismissible#alert(role='alert')
      strong.alert-title#alertTitle
      span#alertMessage
      button.close(type='button', data-hide='alert', aria-label='Close')
        span(aria-hidden='true') &times;

    form.form-horizontal#entryForm(method='post', action=`${postUrl}`)
      input#recordid(type='hidden', name='id', value=params.id)
      input#createddate(type='hidden', name='createddate', value=params.createddate)
      input#updateddate(type='hidden', name='updateddate', value=params.updateddate)
      
      div.text-right#carat-name
      div.form-group.row
        div.col-sm-2.label-data
          label.control-label(for='carat') ကာရက်
        div.col-sm-10.label-data
          input.form-control#carat.mm(type='text', name='carat', value=params.carat, maxlength="55", required autofocus)

      div.form-group.row
        label.col-sm-2.control-label.mm(for='remark') ဖော်ပြချက်
        div.col-sm-10
          textarea.form-control.mm#remark(name='remark')= params.remark

      div.row.justify-content-md-center.form-actions
        button.btn.btn-primary#submitBtn(type='submit', role='button') Save
        a.btn.btn-secondary#actionCancel(href=listUrl, role='button') Cancel

    form#postSuccessForm(method='GET', action=listUrl)
  script.
    $(document).ready(function() {
      var token = "!{token}";
      var submit = 0;

      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-carat').addClass('active');
      $('div#setup_subitems').addClass('show');

      $("#carat-name").hide();
      $("#carat").on('change keyup',function(){
        var recordid = $("#recordid").val();
        var carat = $("#carat").val();
        if (submit == 0) {
          $.ajax({
            url: "/api/checkduplicate/checkCarat?carat=" + carat + "&recordid=" + recordid,  
            headers: {"authorization": "Bearer " + token},
            success: function(result){
              if (result == true) {
                $("#carat-name").html("Already Exist!").addClass('text-danger').show();
                submitBtn.setAttribute("disabled", "");
              } else {
                $("#carat-name").hide();
                submitBtn.removeAttribute("disabled");
              }
            }
          });
        }
      });

      $("#submitBtn").click(function() {
        submit = 1;
        //- $("#submitBtn").setAttribute("disabled", "");
      });

      $("#alert").hide();
      $('#entryForm').ajaxForm({
        success: function(data) {
          if (data.success) {
            $("#alertTitle").html("Success");
            $("#alertMessage").html("Save Success!");
            $("#alert").addClass("alert-success").show();

            var postFrm = $('#postSuccessForm');
            var params = $.url(postFrm.attr('action')).param();
            if (!params) {
              for(var key in params) {
                postFrm.append($('<input type="hidden" name="'+key+'" value="'+ params[key] +'" />'));
              }
            }
            window.setTimeout(function(){
              postFrm.submit();
            }, 2 * 1000);

          } else {
            $("#alertTitle").html("Error");
            $("#alertMessage").html("Error on save!");
            $("#alert").addClass("alert-danger").show();
          }
        }
      });
    });