extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item
      a(href="/daily-usage") နေ့စဉ် အသုံးစာရင်း
    li.breadcrumb-item.active
      span စာရင်းသွင်း
  h1.page-header နေ့စဉ် အသုံးစာရင်း

  div.modal.fade.model-diamond#dialogAddPayments(tabindex='-1', role='dialog', aria-labelledby='AddPayments')
    div.modal-dialog.modal-sm(role='document', style='max-width:730px')
      div.modal-content
        div.modal-header
          h4.modal-title ငွေပေးမှု
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        div.modal-body
          div.form-group.row
            label.col-sm-2.control-label(for='payment_type') Payment Type
            div.col-sm-10
              select#payment_type.selectpicker.form-control(name='payment_type', value=params.payment_type, data-value=params.payment_type, data-live-search="false", data-size="20", required)
                option(value="") [Select one]
                option(value="bank") Bank
                option(value="cash") Cash

          div.form-group.row.bank_form
            label.col-sm-2.control-label(for='bank_id') Bank Name
            div.col-sm-10
              select#bank_id.selectpicker.form-control(name='bank_id', value=params.bank_id, data-value=params.bank_id, data-live-search="false", data-size="20", required)
                option(value="") [Select one]
            
          div.form-group.row.bank_form
            label.col-sm-2.control-label(for='account') Account
            div.col-sm-10
              input.form-control.model-stock-account#account(type='text', name='account',value=params.account, maxlength="55")

          div.form-group.row
            label.col-sm-2.control-label(for='amount') Amount
            div.col-sm-10
              input.form-control.model-stock-code#amount(class='container text-right', type='number', min="0", name='amount', value=params.amount, maxlength="55", required)

        div.modal-footer
          button.btn.btn-primary#dialogAccept(type='button', data-dismiss='modal') Ok
          button.btn.btn-secondary#dialogCancel(type='button', data-dismiss='modal') Cancel

  div.row.from-wrapper
    div.alert.alert-dismissible#alert(role='alert')
      strong.alert-title#alertTitle
      span#alertMessage
      button.close(type='button', data-hide='alert', aria-label='Close')
        span(aria-hidden='true') &times;

    form.form-horizontal#entryForm(method='post', action=`${postUrl}`)
      input#recordid(type='hidden', name='id', value=params.id)
      input#createddate(type='hidden', name='createddate', value=params.createddate)
      input#updateddate(type='hidden', name='updateddate', value=params.updateddate)

      div.form-group.row
        label.col-sm-4.control-label.mm(for='date') ရက်စွဲ
        div.col-sm-8
          input.form-control.fromdate#date(type='text', name='date', value=params.date, required)
      div.form-group.row
        label.col-sm-4.control-label.mm(for='daily_cash_type_id') နေ့စဉ်အသုံးစာရင်း အမျိုးအစား
        div.col-sm-8
          select#daily_cash_type_id.selectpicker.form-control(name='daily_cash_type_id', value=params.daily_cash_type_id, data-value=params.daily_cash_type_id, data-live-search="false", data-size="20", required)
            option(value="") [Select one]
      div.form-group.row
        label.col-sm-4.control-label(for='title') Title 
        div.col-sm-8
          input.form-control#title.mm(type='text', name='title', value=params.title, maxlength="55", required)
      div.form-group.row
        label.col-sm-4.control-label(for='name') Name 
        div.col-sm-8
          input.form-control#name.mm(type='text', name='name', value=params.name, maxlength="55", required)
      div.form-group.row
        label.col-sm-4.control-label(for='address') လိပ်စာ
        div.col-sm-8.label-data
          textarea.form-control.mm#address(name='address')= params.address
      div.form-group.row
        label.col-sm-4.control-label(for='remark') Remark
        div.col-sm-8.label-data
          textarea.form-control.mm#remark(name='remark')= params.remark
      div.form-group.row
        label.col-sm-4.control-label(for='total_amount') Total Amount
        div.col-sm-8.label-data
          input.form-control#total_amount(class='container text-right', name='total_amount', value=params.total_amount, readonly, required)
      div.card
        div.card-body 
          h3.card-title.mm ငွေပေးမှု
          div.text-right#check-total-amount
          div.form-group.row#tblgen()
            div.table-responsive.col-md-12
              table#list.table.table-bordered
                thead
                  tr
                    th(scope='col') Payment Type
                    th(scope='col') Bank
                    th(scope='col') Account
                    th(scope='col') Amount
                    th.mm.edit-hidden(scope='col') 
                      a.btn.btn-success.list-action-text#btngeneral(href="#", role="button", title="Add", data-toggle="modal", data-target="#dialogAddPayments")
                        i.fa.fa-plus
                tbody#tbody
                  input#payment_array(type='hidden', name='payment_array', value=payment_array)
                
                  each payment, index in payment_array
                    tr
                      td
                        span=payment.payment_type
                      td
                        span=payment.bank_name
                      td
                        span=payment.account
                      td 
                        span=payment.amount
                      td.edit-hidden
                        button.btn.btn-danger.btn-xs.btn-delete Delete

      div.row.justify-content-md-center.form-actions
        button.btn.btn-primary#submitBtn(type='submit', role='button') Save
        a.btn.btn-secondary#actionCancel(href=listUrl, role='button') Cancel

    form#postSuccessForm(method='GET', action=listUrl)
  script.
    $(document).ready(function() {
      var token = "!{token}";
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-daily-usage').addClass('active');
      $('div#cashinout_subitems').addClass('show');
      $("#submitBtn").hide();

      var payment_array = [];
      var total_amount = 0;
      var _tmp = $("#recordid").val();
      if (_tmp != "") {
        payment_array = JSON.parse($("#payment_array").val());
        payment_array.forEach((payment) => {
          $amount = payment.amount.replace(/,/g, '');
          total_amount += Number($amount);
        });
      }

      $('#daily_cash_type_id').Template({
        "template": "<option value='${=id}'>${=type}</option>",
        "ajax": {
          "url": "/api/daily_cash_type",
          "headers": {"authorization": "Bearer " + token},
          "dataSrc": "daily_cash_type"
        }
      }).on('completed', function() {
        var selectedVal = $('#daily_cash_type_id').data('value');
        if (selectedVal) {
          $('#daily_cash_type_id').selectpicker('val', selectedVal);
        }
        $('#daily_cash_type_id').selectpicker('refresh');
      });

      $("#btngeneral").on("click", function(ev) {
        ev.preventDefault();
        var target = $(this).attr("href");
        $("#bank_id").empty();
        $('#bank_id').Template({
          "template": "<option value='${=id}'>${=bank_name}</option>",
          "ajax": {
            "url": "/api/customerview/getBank",
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "data"
          }
        }).on('completed', function() {
          var selectedVal = $('#bank_id').data('value');
          if (selectedVal) {
            $('#bank_id').selectpicker('val', selectedVal);
          }
          $('#bank_id').selectpicker('refresh');
        });
        $("#account").val("");
        $("#amount").val("");
      });

      $("#dialogAccept").on("click", function(ev) {
        ev.preventDefault();
        $payment_type = $("#payment_type").val();
        var selected = $('#bank_id option:selected');
        selected.each(function (a) {
            $bank_name = $(this).text();
            $bank_id = $(this).val();
        });
        $account = $("#account").val();
        $amount = $("#amount").val();
        total_amount += Number($amount);
        if (total_amount > 0) {
          $("#submitBtn").show();
        }
        $total_amount_comma = commaSeparateNumber(total_amount);
        $amount_comma = commaSeparateNumber($amount);
        $("#total_amount").val($total_amount_comma);
        var payment = {"payment_type": $payment_type, "bank_id": $bank_id, "amount": $amount, "type": "usage" };
        payment_array.push(payment);
        markup = "<tr><td>"+ $payment_type +"</td><td>"+ $bank_name +"</td><td>" + $account + "</td><td>" +$amount_comma+ "</td><td><button class='btn btn-danger btn-xs btn-delete' >Delete</button></td></tr>";
        tablebody = $("#list #tbody");
        tablebody.append(markup);
        $("#payment_array").val(JSON.stringify(payment_array));
      });

      $("#payment_type").change(function() {
        $payment_type = $("#payment_type").val();
        if ($payment_type == 'bank') {
          $(".bank_form").show();
        } else {
          $(".bank_form").hide();
          $("#bank_id").val('');
          $("#account").val('');
        }
      });

      $("#bank_id").change(function() {
        $.ajax({
          url: "/api/bank?filter=id,eq," + $("#bank_id").val(),
          headers: {"authorization": "Bearer " + token},
          success: function(result) {
            $("#account").val(result.bank[0].account);
          }
        })
      });

      $("#list").on("click", ".btn-delete", function(ev){
        payment_array = JSON.parse($("#payment_array").val());
        var idx = $(this).closest('tr').first();
        var index = idx[0].sectionRowIndex;
        $amount = payment_array[index].amount;
        $amount_nocomma = $amount.replace(/,/g, '');
        total_amount -= Number($amount_nocomma);
        if (total_amount < 1) {
          $("#submitBtn").hide();
        }
        $total_amount_comma = commaSeparateNumber(total_amount);
        $("#total_amount").val($total_amount_comma);
        payment_array.splice(index,1);
        $(this).parents("tr").remove();
        $("#payment_array").val(JSON.stringify(payment_array));
      });

      function commaSeparateNumber(val){
        while (/(\d+)(\d{3})/.test(val.toString())){
          val = val.toString().replace(/(\d+)(\d{3})/, '$1'+','+'$2');
        }
        return val;
      }

      $("#submitBtn").click(function() {
        $("#submitBtn").setAttribute("disabled", "");
      });

      $("#alert").hide();
      $('#entryForm').ajaxForm({
        success: function(data) {
          if (data.success) {
            $("#alertTitle").html("Success");
            $("#alertMessage").html("Save Success!");
            $("#alert").addClass("alert-success").show();

            var postFrm = $('#postSuccessForm');
            var params = $.url(postFrm.attr('action')).param();
            if (!params) {
              for(var key in params) {
                postFrm.append($('<input type="hidden" name="'+key+'" value="'+ params[key] +'" />'));
              }
            }
            window.setTimeout(function(){
              postFrm.submit();
            }, 2 * 1000);

          } else {
            $("#alertTitle").html("Error");
            $("#alertMessage").html("Error on save!");
            $("#alert").addClass("alert-danger").show();
          }
        }
      });
    });