extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item
      a(href="/diamond-settlement") စိန်အကြွေးဆပ်
    li.breadcrumb-item.active
      span စာရင်းသွင်း
  h1.page-header စိန်အကြွေးဆပ်
  div.row.from-wrapper
    div.alert.alert-dismissible#alert(role='alert')
      strong.alert-title#alertTitle
      span#alertMessage
      button.close(type='button', data-hide='alert', aria-label='Close')
        span(aria-hidden='true') &times;

    form.form-horizontal#entryForm(method='post', action=`${postUrl}`)
      input#recordid(type='hidden', name='id', value=params.id)
      input#createddate(type='hidden', name='createddate', value=params.createddate)

      div.form-group.row
        label.col-sm-2.control-label(for='supplier_id') အဝယ်ဒိုင်
        div.col-sm-10
          select#supplier_id.selectpicker.form-control(name='supplier_id', value=supplier_id, data-value=params.supplier_id, data-live-search="false", data-size="20", required)
            option(value="") [Select one]

      div.form-group.row
        label.col-sm-2.control-label(for='exchange_rate') Exchange Rate
        div.col-sm-10
            input.form-control.model-stock-code#exchange_rate(class='container text-right', type='decimalnumber', min="0", name='exchange_rate', value=params.exchange_rate, maxlength="55", required)

      div.card
        div.cart-body
          h4.card-title အကြွေး စာရင်း
          div.form-group.row#tblgen()
            div.table-responsive.col-md-12
              table#list.table.table-bordered
                thead
                  tr
                    th(scope='col') ဘောင်ချာနံပါတ်
                    th(scope='col') Amt To Pay
                    th(scope='col') Pay amount
                    th(scope='col') Carat To pay
                    th(scope='col') Pay Carat
                tbody#tbody
                  //- input#debt_array(type='hidden', name='debt_array', value=debt_array)
                  //- each detail, index in debt_array
                  tr
                    //- td
                      //- input(type="hidden", id="id"+index, name="id_"+index, value=detail.id)
                    td
                      input(type="hidden", id="diamond_debt_id", name="diamond_debt_id", value=params.diamond_debt_id)
                      //- span=detail.voc_no
                      span=params.voc_no
                    td
                      //- span=params.amount
                      input(id="amount", name="amount", value=params.amount, style='border:0; background:transparent;', readonly)
                    td
                      input(id="pay_amount", name="pay_amount", value=params.pay_amount, style='border:0; background:transparent;')
                    td
                      input(id="carat", name="carat", value=params.carat, style='border:0; background:transparent;', readonly)
                    td
                      input(id="pay_carat", name="pay_carat", value=params.pay_carat, style='border:0; background:transparent;')

      div.row.justify-content-md-center.form-actions
        button.btn.btn-primary#submitBtn(type='submit', role='button') Save
        a.btn.btn-secondary#actionCancel(href=listUrl, role='button') Cancel

    form#postSuccessForm(method='GET', action=listUrl)
  script.
    $(document).ready(function() {
      var token = "!{token}";
      var diamond_debt_array = "!{diamond_debt_array}";

      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-diamond-settlement').addClass('active');
      $('div#supplier_subitems').addClass('show');

      var _tmp = $("#recordid").val();
      if (_tmp != '') {
        var supplier_id = document.getElementById('supplier_id');
        supplier_id.setAttribute("disabled",true);
      }

      $('#supplier_id').Template({
        //- "template": "<option value='${=id}'>${=supplier_name}</option>",
        "template": "<option value='${=id}'>${=name}</option>",
        "ajax": {
          //- "url": "/api/supplier",
          "url": "/api/customerview/getSupplier",
          "headers": {"authorization": "Bearer " + token},
          //- "dataSrc": "supplier"
          "dataSrc": "data"
        }
      }).on('completed', function() {
        var selectedVal = $('#supplier_id').data('value');
        if (selectedVal) {
          $('#supplier_id').selectpicker('val', selectedVal);
        }
        $('#supplier_id').selectpicker('refresh');
      });

      $("#supplier_id").change(function(e) {
        if (_tmp == '') {
          var supplier_id = $("#supplier_id").val();
          $("#tbody").empty();
          let markup = "";
          $.ajax({
            url: "/api/debtview/getDiamondDebtBySupplier?supplier_id=" + supplier_id,
            headers: {"authorization": "Bearer " + token},
            success: function(result){
              diamond_debt_array = result.data;
              diamond_debt_array.forEach((debt, index) => {
                markup += "<tr><td style='display:none;'><input type='hidden' name='diamond_debt_id' value="+debt.diamond_debt_id+"></td><td style='display:none;'><input type='hidden' name='wholediamond_id' value="+debt.wholediamond_id+"><td><input type='text' name='voc_no' value='"+debt.voc_no+"' style='border:0; background:transparent;' readonly></td><td><input type='text' name='amount' value='USD "+debt.amount+"' style='border:0; background:transparent;' readonly></td><td><input type='decimal' id='pay_amount_"+index+"' name='pay_amount' value=0 style='border:0; background:transparent;'></td><td><input type='text' name='debt_carat' value='"+debt.debt_carat+"' style='border:0; background:transparent;' readonly></td><td><input type='decimal' id='pay_carat_"+index+"' name='pay_carat' value=0 style='border:0; background:transparent;'></td></tr>"
              });
              tablebody = $("#list #tbody");
              tablebody.append(markup);
              $("#diamond_debt_array").val(JSON.stringify(diamond_debt_array));
            }
          });
        }
      });

      $("#submitBtn").click(function() {
        $("#submitBtn").setAttribute("disabled", "");
      });

      $("#alert").hide();
      $('#entryForm').ajaxForm({
        success: function(data) {
          if (data.success) {
            $("#alertTitle").html("Success");
            $("#alertMessage").html("Save Success!");
            $("#alert").addClass("alert-success").show();

            var postFrm = $('#postSuccessForm');
            var params = $.url(postFrm.attr('action')).param();
            if (!params) {
              for(var key in params) {
                postFrm.append($('<input type="hidden" name="'+key+'" value="'+ params[key] +'" />'));
              }
            }
            window.setTimeout(function(){
              postFrm.submit();
            }, 2 * 1000);

          } else {
            $("#alertTitle").html("Error");
            $("#alertMessage").html("Error on save!");
            $("#alert").addClass("alert-danger").show();
          }
        }
      });
    });