extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item
      a.mm(href="/first-polish") First Polish
    li.breadcrumb-item.active
      span.mm စာရင်းသွင်း
  h1.page-header.mm First Polish

  div.row.from-wrapper
    div.alert.alert-dismissible#alert(role='alert')
      strong.alert-title#alertTitle
      span#alertMessage
      button.close(type='button', data-hide='alert', aria-label='Close')
        span(aria-hidden='true') &times;

    form.form-horizontal#entryForm(method='post', action=`${postUrl}`)
      input#recordid(type='hidden', name='id', value=params.id)
      input#goldrate(type='hidden', name='goldrate', value=params.goldrate)
      input#createddate(type='hidden', name='createddate', value=params.createddate)
      input#updateddate(type='hidden', name='updateddate', value=params.updateddate)
      
      div.form-group.row
        label.col-sm-2.control-label.mm(for='date') ရက်စွဲ
        div.col-sm-10
          input.form-control.fromdate#date(type='text', name='date', value=params.date, required)

      div.form-group.row
        label.col-sm-2.control-label.mm(for='polisher_id') အရောင်တင်
        div.col-sm-10
          select#polisher_id.selectpicker.form-control(name='polisher_id', value=params.polisher_id, data-value=params.polisher_id, data-live-search="false", data-size="20", required)
            option(value="") [Select one]

      div.form-group.row
        label.col-sm-2.control-label(for='code') Code
        div.col-sm-10
          select#goldsmith_code_id.selectpicker.form-control(name='goldsmith_code_id', value=params.goldsmith_code_id, data-value=params.goldsmith_code_id, data-live-search="false", data-size="20", required)
            option(value="") [Select one]

      div.form-group.row
        label.col-sm-2.control-label(for='pay_wgt_gm') ပေးထည်
        div.col-sm-10
            input.form-control.model-stock-code#pay_wgt_gm(class='container text-right', type='decimalnumber', min="0", name='pay_wgt_gm', value=params.pay_wgt_gm, maxlength="55", readonly)

      div.form-group.row
        label.col-sm-2.control-label(for='wgt_gm') အပ်ထည်
        div.col-sm-10
            input.form-control.model-stock-code#wgt_gm(class='container text-right', type='decimalnumber', min="0", name='wgt_gm', value=params.wgt_gm, maxlength="55", required)

      div.form-group.row
        label.col-sm-2.control-label(for='reduce_wgt_gm') အလျော့
        div.col-sm-10
          input.form-control.model-stock-code#reduce_wgt_gm(class='container text-right', type='decimalnumber', min="0", name='reduce_wgt_gm', value=params.reduce_wgt_gm, maxlength="55", required)

      div.form-group.row
        div.col-sm-6.label-data
          strong finished &nbsp;
            input#isfinished(type="checkbox", name="isfinished", value=params.isfinished, checked=(params.isfinished == 1))

      div.row.justify-content-md-center.form-actions
        button.btn.btn-primary#submitBtn(type='submit', role='button') Save
        a.btn.btn-secondary#actionCancel(href=listUrl, role='button') Cancel

    form#postSuccessForm(method='GET', action=listUrl)
  script.
    $(document).ready(function() {
      var token = "!{token}";
      var datecode = "!{datecode}";
      var goldsmith_code_id = "!{params.goldsmith_code_id}";
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-first-polish').addClass('active');
      $('div#production_subitems').addClass('show');
      $("#check-reduce").hide();

      var _tmp = $("#recordid").val();
      var isfinished = $("#isfinished").val();
      if (_tmp != "" && isfinished == 1) {
        document.getElementById('date').setAttribute("readonly", "");
        document.getElementById('polisher_id').setAttribute("disabled", true);
        document.getElementById('goldsmith_code_id').setAttribute("disabled", true);
        document.getElementById('pay_wgt_gm').setAttribute("readonly", "");
        document.getElementById('wgt_gm').setAttribute("readonly", "");
        document.getElementById('reduce_wgt_gm').setAttribute("readonly", "");
        document.getElementById('isfinished').setAttribute("disabled", true);
        $("#submitBtn").hide();
      }

      $(window).keypress(function(event) {
        if (!(event.which == 13 && event.key == "Enter") && !(event.which == 13)) return true;
        $("#container form input[name=cancel]").click();
        event.preventDefault();
        return false;
      });

      $('#polisher_id').Template({
        "template": "<option value='${=id}'>${=name}</option>",
        "ajax": {
          "url": "/api/polisher",
          "headers": {"authorization": "Bearer " + token},
          "dataSrc": "polisher"
        }
      }).on('completed', function() {
        var selectedVal = $('#polisher_id').data('value');
        if (selectedVal) {
          $('#polisher_id').selectpicker('val', selectedVal);
        }
        $('#polisher_id').selectpicker('refresh');
      });

      $('#goldsmith_code_id').Template({
        "template": "<option value='${=id}'>${=code}</option>",
        "ajax": {
          "url": "/api/ordermouldview/getCodeFromFirstPolish?id=" + goldsmith_code_id,
          "headers": {"authorization": "Bearer " + token},
          "dataSrc": "data"
        }
      }).on('completed', function() {
        var selectedVal = $('#goldsmith_code_id').data('value');
        if (selectedVal) {
          $('#goldsmith_code_id').selectpicker('val', selectedVal);
        }
        $('#goldsmith_code_id').selectpicker('refresh');
      });

      $("#goldsmith_code_id").change(function(event) {
        $.ajax({
          url: "/api/ordermouldview/getwgtFromGetGoldsmith?goldsmith_code_id=" +  $('#goldsmith_code_id option:selected').val(),
          headers: {"authorization": "Bearer " + token},
          success: function(result) {
            $("#pay_wgt_gm").val(result.wgt_gm);
            $("#goldrate").val(result.goldrate);
            changeGram();
          }
        })
      })

      $("#isfinished").change(function() {
        if(this.checked) {
          $("#isfinished").val("on");
        } else {
          $("#isfinished").val("");
        }
      });

      $("#wgt_gm").change(function (event) {
        changeGram();
      });

      function changeGram() {
        var wgt_gm = Number($("#wgt_gm").val());
        var pay_wgt_gm = Number($("#pay_wgt_gm").val());
        var reduce_wgt_gm = pay_wgt_gm -wgt_gm;
        reduce_wgt_gm = reduce_wgt_gm.toFixed(2);
        $("#reduce_wgt_gm").val(reduce_wgt_gm);
      }

      $("#submitBtn").click(function() {
        $("#submitBtn").setAttribute("disabled", "");
      });

      $("#alert").hide();
      $('#entryForm').ajaxForm({
        success: function(data) {
          if (data.success) {
            $("#alertTitle").html("Success");
            $("#alertMessage").html("Save Success!");
            $("#alert").addClass("alert-success").show();

            var postFrm = $('#postSuccessForm');
            var params = $.url(postFrm.attr('action')).param();
            if (!params) {
              for(var key in params) {
                postFrm.append($('<input type="hidden" name="'+key+'" value="'+ params[key] +'" />'));
              }
            }
            window.setTimeout(function(){
              postFrm.submit();
            }, 2 * 1000);

          } else {
            $("#alertTitle").html("Error");
            $("#alertMessage").html("Error on save!");
            $("#alert").addClass("alert-danger").show();
          }
        }
      });
    });