doctype html
html
    head
        meta(charset='utf-8')
        meta(content='IE=edge', http-equiv='X-UA-Compatible')
        meta(content='width=device-width,initial-scale=1', name='viewport')
        title= title
        style.
            #table {
                width: 100%; 
                border-collapse: collapse;
            }
            th,td {
                padding: 10px;
            }
        
        link(rel="shortcut icon", href="/img/dia_favicon.png")
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/fontawesome-all.min.css')
        link(rel='stylesheet', href='/css/datatables.css')
        link(rel='stylesheet', href='/css/datatables.custom.css')
        link(rel='stylesheet', href='/css/bootstrap-datepicker.standalone.css')
        link(rel='stylesheet', href='/css/bootstrap-select.css')
        link(rel='stylesheet', href='/css/fonts.css')
        link(rel='stylesheet', href='/css/dashboard.css')
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/css/buttons.dataTables.min.css')
        
        // Chart.js
        link(rel='stylesheet', href='/css/Chart.css')
        link(rel='stylesheet', href='/css/Chart.min.css')
        link(rel='stylesheet', href='/css/jquery-ui.css')


        script(src='/js/jquery-3.3.1.min.js')
        script(src='/js/date-and-time.min.js')
        script(src='/js/purl.min.js')
        script(src='/js/popper.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/datatables.min.js')
        script(src='/js/datatables.render.date.js')
        script(src='/js/bootstrap-datepicker.js')
        script(src='/js/bootstrap-select.js')
        script(src='/js/jquery.template.js')
        script(src='/js/jquery.form.min.js')
        script(src='/js/jquery.validate.min.js')
        script(src='/js/dataTables.buttons.min.js')
        script(src='/js/buttons.html5.min.js')
        script(src='/js/buttons.flash.min.js')
        // Chart.js
        //- script(src='/js/Chart.bundle.js')
        script(src='/js/Chart.bundle.min.js')
        script(src='/js/Chart.js')
        script(src='/js/Chart.min.js')
        script(src='/js/jquery-autocomplete.min.js')
        //- script(src="print.js")
block content

    div.col-md-offset-4.form-actions
        div.row.justify-content-center.form-actions
            button.btn.btn-primary#print(type="button") Print
            a.btn.btn-secondary#actionBack(href="/give-goldsmith", role='button') Back

    br
    
    form#postSuccessForm(method='GET', action="/give-goldsmith-preview")
        input#rowid(type="hidden", name="id", value=params.id)
        div.printcontainer
            div.table-responsive.printpadding
                h5.page-header.text-center
                    b Give Goldsmith Voucher
                br
                br
                table.print#table
                    thead
                        tr
                            td.mm(style="width:13%;") နေ့စွဲ 
                            td.text-left.number(style="width:40%;")=params.date
                            td.mm(style="width:16%;") ပန်းထိမ်ဆရာ
                            td.text-left.mm(style="width:40%;")=params.goldsmith_name
                        tr
                            td(style="width:13%;") Printed Date
                            td.text-left.number(style="width:40%;")=params.print_date

                br
                table.print#table
                    thead
                        tr
                            th.border.text-center Code
                            th.border.text-center.mm အလေးချိန်
                            th.border.text-center.mm အမျိုးအစား
                            th.border.text-center.mm ပဲရည်
                            th.border.text-center.mm စိုက်ရွှေ
                            th.border.text-center.mm စုစုပေါင်း အလေးချိန်
                        
                    tbody#tbodysalelist
                        each item, index in item_array
                            tr
                                td.border.text-center.mm
                                    span.mm=item.code
                                td.border.text-center.mm
                                    span.mm=item.wgt_gm
                                td.border.text-center.mm 
                                    span.mm=item.category_name
                                td.border.text-center.mm
                                    span.mm=item.goldrate
                                td.border.text-center.mm 
                                    span.mm=item.pay_wgt_gm
                                td.border.text-center.mm 
                                    span.mm=item.total_wgt_gm
                br
                br
                br
                div.row.print#table
                    div.col-sm-6.text-left
                        span Received By
                    div.col-sm-6.text-right
                        span Checked By
                br
                div.row.print#table
                    div.col-sm-6.text-left
                        span ------------
                    div.col-sm-6.text-right
                        span ------------

    script.
        $(document).ready(function() {
            var access = ("#{permission.access}").split(",");
            if (access[1] != "1") $("#actionReply").hide();
            var id = $("#rowid").val();
            $("#print").on('click',function(){
                $("#print").hide();
                $("#actionBack").hide();
                $("#title").hide();
                window.print();
                $("#print").show();
                $("#actionBack").show();
                $("#title").show();
            });
        });