extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item
      a.mm(href="/give-diamond") အထည်ချော စိန်ပေး
    li.breadcrumb-item.active
      span.mm စာရင်းသွင်း
  h1.page-header.mm အထည်ချော စိန်ပေး

  div.modal.fade.model-diamond#dialogAddItems(tabindex='-1', role='dialog', aria-labelledby='AddItems')
    div.modal-dialog.modal-sm(role='document', style='max-width:730px')
      div.modal-content
        div.modal-header
          h4.modal-title စိန်ထည်
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        div.modal-body
          div.form-group.row
            label.col-sm-2.control-label(for='wholediamond_id') စိန်ထုပ် code
            div.col-sm-10
              select#wholediamond_id.selectpicker.form-control(name='wholediamond_id', value=params.wholediamond_id, data-value=params.wholediamond_id, data-live-search="false", data-size="20", required)
                option(value="") [Select one]

          div.form-group.row
            label.col-sm-2.control-label(for='diamond_id') စိန်လုံးစီး code
            div.col-sm-10
              select#diamond_id.selectpicker.form-control(name='diamond_id', value=params.diamond_id, data-value=params.diamond_id, data-live-search="false", data-size="20", required)
                option(value="") [Select one]
            
          div.form-group.row
            label.col-sm-2.control-label(for='qty') အပွင့်ရေ
            div.col-sm-10
              input.form-control.model-stock-code#qty(class='container text-right', type='decimalnumber', min="0", name='qty', value=params.qty, maxlength="55", required)

          div.form-group.row
            label.col-sm-2.control-label(for='wgt_ct') အလေးချိန်
            div.col-sm-10
              input.form-control.model-stock-code#wgt_ct(class='container text-right', type='decimalnumber', min="0", name='wgt_ct', value=params.wgt_ct, maxlength="55", required)

        div.modal-footer
          button.btn.btn-primary#dialogAccept(type='button', data-dismiss='modal') Ok
          button.btn.btn-secondary#dialogCancel(type='button', data-dismiss='modal') Cancel


  div.row.from-wrapper
    div.alert.alert-dismissible#alert(role='alert')
      strong.alert-title#alertTitle
      span#alertMessage
      button.close(type='button', data-hide='alert', aria-label='Close')
        span(aria-hidden='true') &times;

    form.form-horizontal#entryForm(method='post', action=`${postUrl}`)
      input#recordid(type='hidden', name='id', value=params.id)
      input#total_diamond_ct(type='hidden', name='total_diamond_ct', value=params.total_diamond_ct)
      input#createddate(type='hidden', name='createddate', value=params.createddate)
      input#updateddate(type='hidden', name='updateddate', value=params.updateddate)
      
      div.form-group.row
        label.col-sm-2.control-label.mm(for='date') ရက်စွဲ
        div.col-sm-10
          input.form-control.fromdate#date(type='text', name='date', value=params.date, required)

      div.form-group.row
        label.col-sm-2.control-label.mm(for='goldsmith_id') ပန်းထိမ်ဆရာ
        div.col-sm-10
          select#goldsmith_id.selectpicker.form-control(name='goldsmith_id', value=params.goldsmith_id, data-value=params.goldsmith_id, data-live-search="false", data-size="20", required)
            option(value="") [Select one]

      div.form-group.row
        label.col-sm-2.control-label.mm(for='wgt_gm') အလေးချိန်
        div.col-sm-10.readonly-text
          select#wgt_gm.selectpicker.form-control(name='wgt_gm', value=params.wgt_gm, data-value=params.wgt_gm, data-live-search="false", data-size="20", required)
            option(value="") [Select one]

      div.form-group.row
        label.col-sm-2.control-label.mm(for='category_id') အမျိုးအစား
        div.col-sm-10
          select#category_id.selectpicker.form-control(name='category_id', value=params.category_id, data-value=params.category_id, data-live-search="false", data-size="20", required)
            option(value="") [Select one]

      div.form-group.row
        label.col-sm-2.control-label.mm(for='goldsmith_code_id') Code 
        div.col-sm-10.readonly-text
          select#goldsmith_code_id.selectpicker.form-control(name='goldsmith_code_id', value=params.goldsmith_code_id, data-value=params.goldsmith_code_id, data-live-search="false", data-size="20", required)
            option(value="") [Select one]

      div.form-group.row
        div.col-sm-6.label-data
          strong finished &nbsp;
            input#isfinished(type="checkbox", name="isfinished", value=params.isfinished, checked=(params.isfinished == 1))

      div.form-group.row#tblgen()
        div.table-responsive.col-md-12
          table#list.table.table-bordered
            thead
              tr
                th.mm(scope='col') စိန်ထုပ် code
                th.mm(scope='col') စိန်လုံးစီး code
                th.mm(scope='col') အပွင့်ရေ
                th.mm(scope='col') အလေးချိန်
                th.mm.edit-hidden(scope='col') 
                  a.btn.btn-success.list-action-text#btngeneral(href="#", role="button", title="Add", data-toggle="modal", data-target="#dialogAddItems")
                    i.fa.fa-plus
            tbody#tbody
              input#item_array(type='hidden', name='item_array', value=item_array)
            
              each item, index in item_array
                tr
                  td
                    span=item.wholediamond
                  td
                    span=item.diamond
                  td
                    span=item.qty
                  td
                    span=item.wgt_ct
                  td.edit-hidden
                    button.btn.btn-danger.btn-xs.btn-delete Delete
                  
      div.row.justify-content-md-center.form-actions
        button.btn.btn-primary#submitBtn(type='submit', role='button') Save
        a.btn.btn-secondary#actionCancel(href=listUrl, role='button') Cancel

    form#postSuccessForm(method='GET', action=listUrl)
  script.
    $(document).ready(function() {
      var token = "!{token}";
      var datecode = "!{datecode}";
      var item_array = [];
      var current_qty = 0;
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-give-diamond').addClass('active');
      $('div#production_subitems').addClass('show');
      $("#check-reduce").hide();

      var _tmp = $("#recordid").val();
      var isfinished = $("#isfinished").val();
      if (_tmp != "") {
        document.getElementById('date').setAttribute("readonly", "");
        //- document.getElementById('goldsmith_id').setAttribute("readonly", "");
        document.getElementById('goldsmith_id').setAttribute("disabled", true);
        //- document.getElementById('wgt_gm').setAttribute("disabled", true);
        document.getElementById('category_id').setAttribute("disabled", true);
        //- document.getElementById('goldsmith_code_id').setAttribute("disabled", true);
        //- var readonlyText = document.getElementsByClassName('readonly-text');
        $(".readonly-text").addClass("text-readonly");
        $('#wgt_gm').Template({
          "template": "<option value='${=wgt_gm}'>${=wgt_gm}</option>",
          "ajax": {
            "url": "/api/goldsmith_code?columns=id,wgt_gm",
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "goldsmith_code"
          }
        }).on('completed', function() {
          var selectedVal = $('#wgt_gm').data('value');
          if (selectedVal) {
            $('#wgt_gm').selectpicker('val', selectedVal);
          }
          $('#wgt_gm').selectpicker('refresh');
        });

        $('#category_id').Template({
          "template": "<option value='${=category_id}'>${=category_name}</option>",
          "ajax": {
          "url": "/api/goldsmith_code?columns=category.id@category_id,category_name&join=left,category,category_id,eq,category.id",
          "headers": {"authorization": "Bearer " + token},
            "dataSrc": "goldsmith_code"
          }
        }).on('completed', function() {
          var selectedVal = $('#category_id').data('value');
          if (selectedVal) {
            $('#category_id').selectpicker('val', selectedVal);
          }
          $('#category_id').selectpicker('refresh');
        });

        $('#goldsmith_code_id').Template({
          "template": "<option value='${=goldsmith_code_id}'>${=code}</option>",
          "ajax": {
            "url": "/api/goldsmith_code?columns=id@goldsmith_code_id,code",
            "headers": {"authorization": "Bearer " + token},
              "dataSrc": "goldsmith_code"
          }
        }).on('completed', function() {
          var selectedVal = $('#goldsmith_code_id').data('value');
          if (selectedVal) {
            $('#goldsmith_code_id').selectpicker('val', selectedVal);
          }
          $('#goldsmith_code_id').selectpicker('refresh');
        });
        item_array = JSON.parse($("#item_array").val());
      }

      if (isfinished == 1) {
        $(".edit-hidden").hide();
        $("#submitBtn").hide();
      }

      $(window).keypress(function(event) {
        if (!(event.which == 13 && event.key == "Enter") && !(event.which == 13)) return true;
        $("#container form input[name=cancel]").click();
        event.preventDefault();
        return false;
      });

      if (isfinished != 1) {
        $('#wgt_gm').Template({
          "template": "<option value='${=wgt_gm}'>${=wgt_gm}</option>",
          "ajax": {
            "url": "/api/ordermouldview/getGram",
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "data"
          }
        }).on('completed', function() {
          var selectedVal = $('#wgt_gm').data('value');
          if (selectedVal) {
            $('#wgt_gm').selectpicker('val', selectedVal);
          }
          $('#wgt_gm').selectpicker('refresh');
        });

        $("#wgt_gm").change(function(event) {
          var wgt_gm = $("#wgt_gm").val();
          $('#category_id').empty();
          $('#category_id').Template({
            "template": "<option value='${=category_id}'>${=category_name}</option>",
            "ajax": {
            "url": "/api/ordermouldview/getCategoryByGram?wgt_gm=" + $('#wgt_gm option:selected').val(),
            "headers": {"authorization": "Bearer " + token},
              "dataSrc": "data"
            }
          }).on('completed', function() {
            var selectedVal = $('#category_id').data('value');
            if (selectedVal) {
            $('#category_id').selectpicker('val', selectedVal);
            }
            $('#category_id').selectpicker('refresh');
          });
        });

        $("#wgt_gm").change(function (event) {
          getCode();
        });

        $("#category_id").change(function (event) {
          getCode();
        });
      }

      $('#goldsmith_id').Template({
        "template": "<option value='${=id}'>${=goldsmith_name}</option>",
        "ajax": {
          "url": "/api/goldsmith",
          "headers": {"authorization": "Bearer " + token},
          "dataSrc": "goldsmith"
        }
      }).on('completed', function() {
        var selectedVal = $('#goldsmith_id').data('value');
        if (selectedVal) {
          $('#goldsmith_id').selectpicker('val', selectedVal);
        }
        $('#goldsmith_id').selectpicker('refresh');
      });

      //- $('#wholediamond_id').Template({
      //-   "template": "<option value='${=id}'>${=code}</option>",
      //-   "ajax": {
      //-     "url": "/api/wholediamondview/getWholeDiamond",
      //-     "headers": {"authorization": "Bearer " + token},
      //-     "dataSrc": "data"
      //-   }
      //- }).on('completed', function() {
      //-   var selectedVal = $('#wholediamond_id').data('value');
      //-   if (selectedVal) {
      //-     $('#wholediamond_id').selectpicker('val', selectedVal);
      //-   }
      //-   $('#wholediamond_id').selectpicker('refresh');
      //- });

      $("#wholediamond_id").change(function(event) {
        $('#diamond_id').empty();
        $('#diamond_id').Template({
          "template": "<option value='${=diamond_id}'>${=code}</option>",
          "ajax": {
          "url": "/api/wholediamondview/getDiamondItems?wholediamond_id=" + $('#wholediamond_id option:selected').val(),
          "headers": {"authorization": "Bearer " + token},
            "dataSrc": "data"
          }
        }).on('completed', function() {
          var selectedVal = $('#diamond_id').data('value');
          if (selectedVal) {
          $('#diamond_id').selectpicker('val', selectedVal);
          }
          $('#diamond_id').selectpicker('refresh');
        });
      });

      $("#isfinished").change(function() {
        if(this.checked) {
          $("#isfinished").val("on");
        } else {
          $("#isfinished").val("");
        }
      });

      $("#diamond_id").change(function (event) {
        $.ajax({
          url: "/api/wholediamondview/getQtyByDiamond?diamond_id=" + $('#diamond_id option:selected').val(),
          headers: {"authorization": "Bearer " + token},
          success: function(result) {
            current_qty = result.data.current_qty;
          }
        })
      });

      $("#qty").change(function (event) {
        var qty = Number($("#qty").val());
        if (qty > current_qty) {
          $("#qty").val(current_qty);
        }
      })

      function getCode() {
        var wgt_gm = $("#wgt_gm").val();
        var category_id = $("#category_id").val();
        $('#goldsmith_code_id').empty();
        $goldsmith_code_id = "!{params.goldsmith_code_id}";
        if (wgt_gm && category_id) {
          $('#goldsmith_code_id').Template({
            "template": "<option value='${=goldsmith_code_id}'>${=code}</option>",
            "ajax": {
              "url": "/api/ordermouldview/getCodeByGiveDiamond?category_id=" + $('#category_id option:selected').val() + "&wgt_gm=" + wgt_gm + "&goldsmith_code_id=" + $goldsmith_code_id,
              "headers": {"authorization": "Bearer " + token},
                "dataSrc": "data"
            }
          }).on('completed', function() {
            var selectedVal = $('#goldsmith_code_id').data('value');
            if (selectedVal) {
              $('#goldsmith_code_id').selectpicker('val', selectedVal);
            }
            $('#goldsmith_code_id').selectpicker('refresh');
          });
        }
      }

      $("#list").on("click", ".btn-delete", function(ev){
        item_array = JSON.parse($("#item_array").val());
        var idx = $(this).closest('tr').first();
        var index = idx[0].sectionRowIndex;
        $wgt_ct = item_array[index].wgt_ct;
        $total_ct = Number($("#total_diamond_ct").val());
        $total_ct -= Number($wgt_ct);
        $("#total_diamond_ct").val($total_ct);
        item_array.splice(index,1);
        $(this).parents("tr").remove();
        $("#item_array").val(JSON.stringify(item_array));
      });

      $("#btngeneral").on("click", function(ev) {
        isEdit = false;
        ev.preventDefault();
        $("#wholediamond_id").empty();
        $('#wholediamond_id').Template({
          "template": "<option value='${=id}'>${=code}</option>",
          "ajax": {
            "url": "/api/wholediamondview/getWholeDiamond",
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "data"
          }
        }).on('completed', function() {
          var selectedVal = $('#wholediamond_id').data('value');
          if (selectedVal) {
            $('#wholediamond_id').selectpicker('val', selectedVal);
          }
          $('#wholediamond_id').selectpicker('refresh');
        });
        $("#diamond_id").empty();
        $("#qty").val("");
        $("#wgt_ct").val("");
      });

      $("#dialogAccept").on("click", function(ev) {
        ev.preventDefault();

        //- $("#codes").val(JSON.stringify(codes));
        var total_ct = Number($("#total_diamond_ct").val());
        $qty = $("#qty").val();
        $wgt_ct = $("#wgt_ct").val();
        total_ct += Number($wgt_ct);
        $("#total_diamond_ct").val(total_ct);
        var selected_wd = $('#wholediamond_id option:selected');
        selected_wd.each(function (a) {
            $wholediamond = $(this).text();
            $wholediamond_id = $(this).val();
        });
        var selected_diamond = $('#diamond_id option:selected');
        selected_diamond.each(function (a) {
            $diamond = $(this).text();
            $diamond_id = $(this).val();
        })
        var item = {"wholediamond_id": $wholediamond_id, "diamond_id": $diamond_id, "qty": $qty, "wgt_ct": $wgt_ct };
        item_array.push(item);
        markup = "<tr><td>"+ $wholediamond +"</td><td>"+ $diamond +"</td><td>" + $qty + "</td><td>"+ $wgt_ct +"</td><td><button class='btn btn-danger btn-xs btn-delete' >Delete</button></td></tr>";
        tablebody = $("#list #tbody");
        tablebody.append(markup);
        $("#item_array").val(JSON.stringify(item_array));
      });

      $("#submitBtn").click(function() {
        $("#submitBtn").setAttribute("disabled", "");
      });

      $("#alert").hide();
      $('#entryForm').ajaxForm({
        success: function(data) {
          if (data.success) {
            $("#alertTitle").html("Success");
            $("#alertMessage").html("Save Success!");
            $("#alert").addClass("alert-success").show();

            var postFrm = $('#postSuccessForm');
            var params = $.url(postFrm.attr('action')).param();
            if (!params) {
              for(var key in params) {
                postFrm.append($('<input type="hidden" name="'+key+'" value="'+ params[key] +'" />'));
              }
            }
            window.setTimeout(function(){
              postFrm.submit();
            }, 2 * 1000);

          } else {
            $("#alertTitle").html("Error");
            $("#alertMessage").html("Error on save!");
            $("#alert").addClass("alert-danger").show();
          }
        }
      });
    });