extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item
      a(href="/gold") ရွှေကြို
    li.breadcrumb-item.active
      span စာရင်းသွင်း
  h1.page-header ရွှေကြို

  div.row.from-wrapper
    div.alert.alert-dismissible#alert(role='alert')
      strong.alert-title#alertTitle
      span#alertMessage
      button.close(type='button', data-hide='alert', aria-label='Close')
        span(aria-hidden='true') &times;

    form.form-horizontal#entryForm(method='post', action=`${postUrl}`, autocomplete="off")
      input#recordid(type='hidden', name='id', value=params.id)
      input#createddate(type='hidden', name='createddate', value=params.createddate)
      input#updateddate(type='hidden', name='updateddate', value=params.updateddate)

      if params.finished !== "Yes"
        div.form-group.row
          label.col-sm-2.control-label.mm(for='date') ရက်စွဲ
          div.col-sm-4
            input.form-control.fromdate#date(type='text', name='date', value=params.date, required)

        div.form-group.row
          label.col-sm-2.control-label(for='voc_no') ဘောင်ချာနံပါတ်
          div.col-sm-4
            input.form-control#voc_no.mm(type='text', name='voc_no', value=params.voc_no, maxlength="55", readonly)

        div.form-group.row
          label.col-sm-2.control-label.mm(for='goldsmith_id') ကြိုသည့်ဆိုင်
          div.col-sm-4
            select#goldsmith_id.selectpicker.form-control(name='goldsmith_id', value=params.goldsmith_id, data-value=params.goldsmith_id, data-live-search="false", data-size="20", required)
              option(value="") [Select one]

        div.text-center#gold_gm_message
        div.form-group.row
          div.col-sm-2.label-data
            label.control-label.mm(for='') ရွှေချိန်
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#gold_k(class='kpy_keypress container text-right', type='number', min="0", name='gold_k', value=params.gold_k || 0, maxlength="55")
              div.col-sm-3.label-data
                label.control-label.mm(for='gold_k') ကျပ်
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#gold_p(class='kpy_keypress container text-right', type='number', min="0", name='gold_p', value=params.gold_p || 0, maxlength="55")
              div.col-sm-3.label-data
                label.control-label.mm(for='gold_p') ပဲ
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#gold_y(class='kpy_keypress container text-right', type='decimalnumber', min="0", name='gold_y', value=params.gold_y || 0, maxlength="55")
              div.col-sm-3.label-data
                label.control-label.mm(for='gold_y') ရွေး

        div.text-center#brass_gm_message
        div.form-group.row
          div.col-sm-2.label-data
            label.control-label.mm(for='') ကြေးချိန်
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#brass_k(class='kpy_keypress container text-right', type='number', min="0", name='brass_k', value=params.brass_k || 0, maxlength="55")
              div.col-sm-3.label-data
                label.control-label.mm(for='brass_k') ကျပ်
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#brass_p(class='kpy_keypress container text-right', type='number', min="0", name='brass_p', value=params.brass_p || 0, maxlength="55")
              div.col-sm-3.label-data
                label.control-label.mm(for='brass_p') ပဲ
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#brass_y(class='kpy_keypress container text-right', type='decimalnumber', min="0", name='brass_y', value=params.brass_y || 0, maxlength="55")
              div.col-sm-3.label-data
                label.control-label.mm(for='brass_y') ရွေး

        div.text-center#silver_gm_message
        div.form-group.row
          div.col-sm-2.label-data
            label.control-label.mm(for='') ဘော်ချိန်
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#silver_k(class='kpy_keypress container text-right', type='number', min="0", name='silver_k', value=params.silver_k || 0, maxlength="55")
              div.col-sm-3.label-data
                label.control-label.mm(for='silver_k') ကျပ်
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#silver_p(class='kpy_keypress container text-right', type='number', min="0", name='silver_p', value=params.silver_p || 0, maxlength="55")
              div.col-sm-3.label-data
                label.control-label.mm(for='silver_p') ပဲ
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#silver_y(class='kpy_keypress container text-right', type='decimalnumber', min="0", name='silver_y', value=params.silver_y || 0, maxlength="55")
              div.col-sm-3.label-data
                label.control-label.mm(for='silver_y') ရွေး

        div.text-center#mo_gm_message
        div.form-group.row
          div.col-sm-2.label-data
            label.control-label.mm(for='') မိုချိန်
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#mo_k(class='kpy_keypress container text-right', type='number', min="0", name='mo_k', value=params.mo_k || 0, maxlength="55")
              div.col-sm-3.label-data
                label.control-label.mm(for='mo_k') ကျပ်
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#mo_p(class='kpy_keypress container text-right', type='number', min="0", name='mo_p', value=params.mo_p || 0, maxlength="55")
              div.col-sm-3.label-data
                label.control-label.mm(for='mo_p') ပဲ
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#mo_y(class='kpy_keypress container text-right', type='decimalnumber', min="0", name='mo_y', value=params.mo_y || 0, maxlength="55")
              div.col-sm-3.label-data
                label.control-label.mm(for='mo_y') ရွေး

        div.form-group.row
          div.col-sm-2.label-data
              label.control-label(for='totalGm') Total Gram
          div.col-sm-3
            input.form-control#totalGm(class='container text-right', type='text', name='total_gm', value=params.total_gm || 0, maxlength="55", readonly)
          div.col-sm-2.label-data
              label.control-label(for='kyo_yout') ကျိုလျော့
          div.col-sm-3
            input.form-control#kyo_yout(class='container text-right', type='decimalnumber', name='kyo_yout', value=params.kyo_yout || 0, maxlength="55", min="0")

        div.form-group.row
          div.col-sm-2.label-data
              label.control-label(for='netGm') Net Gram
          div.col-sm-3
            input.form-control#netGm(class='container text-right', type='text', name='net_gm', value=params.net_gm || 0, maxlength="55", readonly)
          div.col-sm-2
            label.control-label(for='goldrate') ပဲရည်
          div.col-sm-4
            select#goldrate.selectpicker.form-control(name='goldrate', value=params.goldrate, data-value=params.goldrate, data-live-search="false", data-size="8", required)
              option(value="") [Select one]
              option(value="a") ၁၆ ပဲရည်
              option(value="b") ၁၅ ပဲရည်
              option(value="c") ၁၄ ပဲရည်
              option(value="d") ၁၃ ပဲရည်

        div.form-group.row
          div.col-sm-2
            label.control-label(for='finished', class='font-weight-bold') Finished
          div.col-sm-6
            input.form-check-input#finished(type='checkbox', name='finished', value="Yes", checked = false)

        div.row.justify-content-md-center.form-actions
          button.btn.btn-primary#submitBtn(type='submit', role='button') Save
          a.btn.btn-secondary#actionCancel(href=listUrl, role='button') Cancel
      else
        div.form-group.row
          label.col-sm-2.control-label.mm(for='date') ရက်စွဲ
          div.col-sm-4
            input.form-control.fromdate#date(type='text', name='date', value=params.date, readonly)

        div.form-group.row
          label.col-sm-2.control-label(for='voc_no') ဘောင်ချာနံပါတ်
          div.col-sm-4
            input.form-control#voc_no.mm(type='text', name='voc_no', value=params.voc_no, maxlength="55", readonly)

        div.form-group.row
          label.col-sm-2.control-label.mm(for='goldsmith_id') ကြိုသည့်ဆိုင်
          div.col-sm-4
            input.form-control#goldsmith_name.mm(name='goldsmith_id', value=params.goldsmith_id, readonly)

        div.form-group.row
          div.col-sm-2.label-data
            label.control-label.mm(for='') ရွှေချိန်
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#gold_k(class='kpy_keypress container text-right', type='number', min="0", name='gold_k', value=params.gold_k, maxlength="55", readonly)
              div.col-sm-3.label-data
                label.control-label.mm(for='gold_k') ကျပ်
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#gold_p(class='kpy_keypress container text-right', type='number', min="0", name='gold_p', value=params.gold_p, maxlength="55", readonly)
              div.col-sm-3.label-data
                label.control-label.mm(for='gold_p') ပဲ
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#gold_y(class='kpy_keypress container text-right', type='decimalnumber', min="0", name='gold_y', value=params.gold_y, maxlength="55", readonly)
              div.col-sm-3.label-data
                label.control-label.mm(for='gold_y') ရွေး

        div.form-group.row
          div.col-sm-2.label-data
            label.control-label.mm(for='') ကြေးချိန်
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#brass_k(class='kpy_keypress container text-right', type='number', min="0", name='brass_k', value=params.brass_k, maxlength="55", readonly)
              div.col-sm-3.label-data
                label.control-label.mm(for='brass_k') ကျပ်
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#brass_p(class='kpy_keypress container text-right', type='number', min="0", name='brass_p', value=params.brass_p, maxlength="55", readonly)
              div.col-sm-3.label-data
                label.control-label.mm(for='brass_p') ပဲ
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#brass_y(class='kpy_keypress container text-right', type='decimalnumber', min="0", name='brass_y', value=params.brass_y, maxlength="55", readonly)
              div.col-sm-3.label-data
                label.control-label.mm(for='brass_y') ရွေး

        div.form-group.row
          div.col-sm-2.label-data
            label.control-label.mm(for='') ဘော်ချိန်
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#silver_k(class='kpy_keypress container text-right', type='number', min="0", name='silver_k', value=params.silver_k, maxlength="55", readonly)
              div.col-sm-3.label-data
                label.control-label.mm(for='silver_k') ကျပ်
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#silver_p(class='kpy_keypress container text-right', type='number', min="0", name='silver_p', value=params.silver_p, maxlength="55", readonly)
              div.col-sm-3.label-data
                label.control-label.mm(for='silver_p') ပဲ
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#silver_y(class='kpy_keypress container text-right', type='decimalnumber', min="0", name='silver_y', value=params.silver_y, maxlength="55", readonly)
              div.col-sm-3.label-data
                label.control-label.mm(for='silver_y') ရွေး

        div.form-group.row
          div.col-sm-2.label-data
            label.control-label.mm(for='') မိုချိန်
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#mo_k(class='kpy_keypress container text-right', type='number', min="0", name='mo_k', value=params.mo_k, maxlength="55", readonly)
              div.col-sm-3.label-data
                label.control-label.mm(for='mo_k') ကျပ်
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#mo_p(class='kpy_keypress container text-right', type='number', min="0", name='mo_p', value=params.mo_p, maxlength="55", readonly)
              div.col-sm-3.label-data
                label.control-label.mm(for='mo_p') ပဲ
          div.col-sm-2
            div.row
              div.col-sm-9
                input.form-control#mo_y(class='kpy_keypress container text-right', type='decimalnumber', min="0", name='mo_y', value=params.mo_y, maxlength="55", readonly)
              div.col-sm-3.label-data
                label.control-label.mm(for='mo_y') ရွေး

        div.form-group.row
          div.col-sm-2.label-data
              label.control-label(for='totalGm') Total Gram
          div.col-sm-3
            input.form-control#totalGm(class='container text-right', type='text', name='total_gm', value=params.total_gm, maxlength="55", readonly)
          div.col-sm-2.label-data
              label.control-label(for='kyo_yout') ကျိုလျော့
          div.col-sm-3
            input.form-control#kyo_yout(class='container text-right', type='decimalnumber', name='kyo_yout', value=params.kyo_yout, maxlength="55", min="0", readonly)

        div.form-group.row
          div.col-sm-2.label-data
              label.control-label(for='netGm') Net Gram
          div.col-sm-3
            input.form-control#netGm(class='container text-right', type='text', name='net_gm', value=params.net_gm, maxlength="55", readonly)
          div.col-sm-2
            label.control-label(for='goldrate') ပဲရည်
          div.col-sm-4
            input.form-control#goldrate_name(name='goldrate', value=params.goldrate, readonly)
            
        div.row.justify-content-md-center.form-actions
          a.btn.btn-secondary#actionCancel(href=listUrl, role='button') Back

    form#postSuccessForm(method='GET', action=listUrl)
  script.
    $(document).ready(function() {
      var token = "!{token}";
      var item_array = [];
      var total_gm = 0, stock_data, gold_gm, brass_gm, silver_gm, mo_gm;
      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-gold').addClass('active');
      $('div#production_subitems').addClass('show');

      var today = new Date();
      var day = `0${today.getDate()}`.slice(-2);
      var month = `0${today.getMonth()+1}`.slice(-2);
      var year = today.getFullYear();
      var showDate = `${day}/${month}/${year}`;
      $('#date').val(showDate);

      // get stock data from db
      $.ajax({
        url: "/api/stock",              
        headers: {"authorization": "Bearer " + token},
        success: function(result){
          stock_data = result.stock[0];     
        }
      });

      // check gold gm is over or not 
      $("#gold_k, #gold_p, #gold_y").change(function(e){
          var gold_k = 0;
          var gold_p = 0;
          var gold_y = 0;

          if ($('#gold_k').val()){
            gold_k = parseInt($("#gold_k").val());
          }
          if ($('#gold_p').val()){
            gold_p = parseInt($("#gold_p").val());
          }
          if ($('#gold_y').val()){
            gold_y = parseInt($("#gold_y").val());
          }
          $.ajax({
            url: "/services/ChangeKPYToGm?Kyat=" + gold_k.toString() + "&Pae=" + gold_p.toString() + "&Yway=" + gold_y.toString(),              
            headers: {"authorization": "Bearer " + token},
            success: function(result){
              gold_gm = (result.data).toFixed(2);
              if(gold_gm > stock_data.gold_total_gm){
                $("#gold_gm_message").html("Gold Stock is Over!").addClass('text-danger').show();
                submitBtn.setAttribute("disabled", "");
              }else {
                $("#gold_gm_message").hide();
                submitBtn.removeAttribute("disabled");
              }
            }
          });
      });

      // check brass gm is over or not 
      $("#brass_k, #brass_p, #brass_y").change(function(e){
        var brass_k = 0;
        var brass_p = 0;
        var brass_y = 0;

        if ($('#brass_k').val()){
          brass_k = parseInt($("#brass_k").val());
        }
        if ($('#brass_p').val()){
          brass_p = parseInt($("#brass_p").val());
        }
        if ($('#brass_y').val()){
          brass_y = parseInt($("#brass_y").val());
        }
        $.ajax({
          url: "/services/ChangeKPYToGm?Kyat=" + brass_k.toString() + "&Pae=" + brass_p.toString() + "&Yway=" + brass_y.toString(),              
          headers: {"authorization": "Bearer " + token},
          success: function(result){
            brass_gm = (result.data).toFixed(2);
            if(brass_gm > stock_data.brass_total_gm){
              $("#brass_gm_message").html("Brass Stock is Over!").addClass('text-danger').show();
              submitBtn.setAttribute("disabled", "");
            }else {
              $("#brass_gm_message").hide();
              submitBtn.removeAttribute("disabled");
            }
          }
        });
        
      });

      // check silver gm is over or not 
      $("#silver_k, #silver_p, #silver_y").change(function(e){
        var silver_k = 0;
        var silver_p = 0;
        var silver_y = 0;

        if ($('#silver_k').val()){
          silver_k = parseInt($("#silver_k").val());
        }
        if ($('#silver_p').val()){
          silver_p = parseInt($("#silver_p").val());
        }
        if ($('#silver_y').val()){
          silver_y = parseInt($("#silver_y").val());
        }
        $.ajax({
          url: "/services/ChangeKPYToGm?Kyat=" + silver_k.toString() + "&Pae=" + silver_p.toString() + "&Yway=" + silver_y.toString(),              
          headers: {"authorization": "Bearer " + token},
          success: function(result){
            silver_gm = (result.data).toFixed(2);
            if(silver_gm > stock_data.silver_total_gm){
              $("#silver_gm_message").html("Silver Stock is Over!").addClass('text-danger').show();
              submitBtn.setAttribute("disabled", "");
            }else {
              $("#silver_gm_message").hide();
              submitBtn.removeAttribute("disabled");
            }
          }
        });
      });

      // check mo gm is over or not 
      $("#mo_k, #mo_p, #mo_y").change(function(e){
        var mo_k = 0;
        var mo_p = 0;
        var mo_y = 0;

        if ($('#mo_k').val()){
          mo_k = parseInt($("#mo_k").val());
        }
        if ($('#mo_p').val()){
          mo_p = parseInt($("#mo_p").val());
        }
        if ($('#mo_y').val()){
          mo_y = parseInt($("#mo_y").val());
        }
        $.ajax({
          url: "/services/ChangeKPYToGm?Kyat=" + mo_k.toString() + "&Pae=" + mo_p.toString() + "&Yway=" + mo_y.toString(),              
          headers: {"authorization": "Bearer " + token},
          success: function(result){
            mo_gm = (result.data).toFixed(2);
            if(mo_gm > stock_data.mo_total_gm){
              $("#mo_gm_message").html("Mo Stock is Over!").addClass('text-danger').show();
              submitBtn.setAttribute("disabled", "");
            }else {
              $("#mo_gm_message").hide();
              submitBtn.removeAttribute("disabled");
            }
          }
        });
      });

      $(".kpy_keypress").change(function(e){
        //- var keycode = (event.keyCode ? event.keyCode : event.which);
        //- if(keycode == '13' && event.key === "Enter")
        //- { 
        var $gm;
        var kyat = 0;
        var pae = 0;
        var yway = 0;            
        
        if ($('#gold_k').val()){
          kyat += parseInt($("#gold_k").val());
        }
        if ($('#brass_k').val()){
          kyat += parseInt($("#brass_k").val());
        }
        if ($('#silver_k').val()){
          kyat += parseInt($("#silver_k").val());
        }
        if ($('#mo_k').val()){
          kyat += parseInt($("#mo_k").val());
        }

        if ($('#gold_p').val()){
          pae += parseInt($("#gold_p").val());
        }
        if ($('#brass_p').val()){
          pae += parseInt($("#brass_p").val());
        }
        if ($('#silver_p').val()){
          pae += parseInt($("#silver_p").val());
        }
        if ($('#mo_p').val()){
          pae += parseInt($("#mo_p").val());
        }

        if ($('#gold_y').val()){
          yway += parseInt($("#gold_y").val());
        }
        if ($('#brass_y').val()){
          yway += parseInt($("#brass_y").val());
        }
        if ($('#silver_y').val()){
          yway += parseInt($("#silver_y").val());
        }
        if ($('#mo_y').val()){
          yway += parseInt($("#mo_y").val());
        }

        if(this.name == 'gold_k'){
          $("#gold_p").focus();
        }
        if(this.name == 'gold_p'){
          $("#gold_y").focus();
        }
        if(this.name == 'gold_y'){
          $("#brass_k").focus();
        }

        if(this.name == 'brass_k'){
          $("#brass_p").focus();
        }
        if(this.name == 'brass_p'){
          $("#brass_y").focus();
        }
        if(this.name == 'brass_y'){
          $("#silver_k").focus();
        }

        if(this.name == 'silver_k'){
          $("#silver_p").focus();
        }
        if(this.name == 'silver_p'){
          $("#silver_y").focus();
        }
        if(this.name == 'silver_y'){
          $("#mo_k").focus();
        }

        if(this.name == 'mo_k'){
          $("#mo_p").focus();
        }
        if(this.name == 'mo_p'){
          $("#mo_y").focus();
        }
        if(this.name == 'mo_y'){
          $("#kyo_yout").focus();
        }

        $.ajax({
          url: "/services/ChangeKPYToGm?Kyat=" + kyat.toString() + "&Pae=" + pae.toString() + "&Yway=" + yway.toString(),              
          headers: {"authorization": "Bearer " + token},
          success: function(result){
            $total_gm = result.data;
            $("#totalGm").val($total_gm.toFixed(2)); 
            let totalGm = parseFloat($('#totalGm').val());
            let kyoYout = parseFloat($('#kyo_yout').val());
            $('#netGm').val((totalGm - kyoYout).toFixed(2));       
          }
        });
            
        //- }
      });

      $('#kyo_yout').change(function(e){
        //- var keycode = (event.keyCode ? event.keyCode : event.which);
        //- if(keycode == '13' && event.key === "Enter")
        //- { 
          var totalGm = parseFloat($('#totalGm').val());
          var kyoYout = parseFloat($('#kyo_yout').val());
          $('#netGm').val((totalGm - kyoYout).toFixed(2));
        //- }
      });

      $('#goldsmith_id').Template({
        "template": "<option value='${=id}'>${=goldsmith_name}</option>",
        "ajax": {
          "url": "/api/goldsmith",
          "headers": {"authorization": "Bearer " + token},
          "dataSrc": "goldsmith"
        }
      }).on('completed', function() {
        var selectedVal = $('#goldsmith_id').data('value');
        if (selectedVal) {
          $('#goldsmith_id').selectpicker('val', selectedVal);
        }
        $('#goldsmith_id').selectpicker('refresh');
      });

      $.ajax({
        url: "/api/goldsmith?id="+ $('goldsmith_name').val(),              
        headers: {"authorization": "Bearer " + token},
        success: function(result){
          $('#goldsmith_name').val(result.goldsmith[0].goldsmith_name);      
        }
      });

      $("select#goldrate").Template({
        "template": "<option value='a'>၁၆ ပဲရည်</option><option value='b'>၁၅ ပဲရည်</option><option value='c'>၁၄ ပဲရည်</option><option value='d'>၁၃ ပဲရည်</option>"
      }).on('completed', function() {
        var selectedVal = $('#goldrate').data('value');
        if (selectedVal) {
          $("#goldrate option[value=" + selectedVal + "]").prop('selected', true);
          $("#goldrate option[value=" + selectedVal + "]").prop('selected', true);
        }
        $('#goldrate').selectpicker('refresh');
      });

      if($("#goldrate_name").val() === 'a'){
        $("#goldrate_name").val("၁၆ ပဲရည်");
      } else if ($("#goldrate_name").val() === 'b') {
        $("#goldrate_name").val("၁၅ ပဲရည်");
      } else if ($("#goldrate_name").val() === 'c') {
        $("#goldrate_name").val("၁၄ ပဲရည်");
      } else if ($("#goldrate_name").val() === 'd') {
        $("#goldrate_name").val("၁၃ ပဲရည်");
      }

      $("#submitBtn").click(function() {
        $("#submitBtn").setAttribute("disabled", "");
      });
      
      $('#entryForm').on('keypress', function(e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) { 
          e.preventDefault();
          return false;
        }
      });

      $("#alert").hide();
      $('#entryForm').ajaxForm({
        success: function(data) {
          if (data.success) {
            $("#alertTitle").html("Success");
            $("#alertMessage").html("Save Success!");
            $("#alert").addClass("alert-success").show();

            var postFrm = $('#postSuccessForm');
            var params = $.url(postFrm.attr('action')).param();
            if (!params) {
              for(var key in params) {
                postFrm.append($('<input type="hidden" name="'+key+'" value="'+ params[key] +'" />'));
              }
            }
            window.setTimeout(function(){
              postFrm.submit();
            }, 2 * 1000);

          } else {
            $("#alertTitle").html("Error");
            $("#alertMessage").html("Error on save!");
            $("#alert").addClass("alert-danger").show();
          }
        }
      });
    });