extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item
      a(href="/purchase-gold") ရွှေအဝယ်
    li.breadcrumb-item.active
      span Entry
  h1.page-header ရွှေအဝယ်
  //- div.modal.fade#dialogAddDiamond(tabindex='-1', role='dialog', aria-labelledby='AddDiamond')
  div.row.from-wrapper
    div.alert.alert-dismissible#alert(role='alert')
      strong.alert-title#alertTitle
      span#alertMessage
      button.close(type='button', data-hide='alert', aria-label='Close')
        span(aria-hidden='true') &times;

    form.form-horizontal#entryForm(method='post', action=`${postUrl}`, enctype="application/x-www-form-urlencoded", autocomplete="off")
      input#recordid(type='hidden', name='id', value=params.id)
      input#createddate(type='hidden', name='createddate', value=params.createddate)
      input#updateddate(type='hidden', name='updateddate', value=params.updateddate)
      input#cashier_id(type='hidden', name='cashier_id', value=params.cashier_id)

      div(style="margin-left: 10px")
        div.form-group.row
          div.col-sm-2.label-data
            label.control-label(for='voc_no') Voucher No.
          div.col-sm-9.label-data
            input.invoice.form-control#voc_no.mm(type='text', name='voc_no', value=params.voc_no, maxlength="55", readonly)
        
        div.form-group.row
          div.col-sm-2.label-data
            label.control-label(for='date') ရက်စွဲ
          div.col-sm-9.label-data
            input.form-control#date(type='text', name='date', value=params.date, maxlength="55", required)

        div.form-group.row
          div.col-sm-2.label-data
            label.control-label(for='ref_no') Reference No. 
          div.col-sm-9.label-data
            input.form-control#ref_no.mm(type='text', name='ref_no', value=params.ref_no, maxlength="55", required)
          
        div.form-group.row
          div.col-sm-2.label-data
            label.control-label(for='cashier_name') Cashier Name
          div.col-sm-9.label-data
            input.form-control#cashier_name.mm(type='text', name='cashier_name', value=params.cashier_name, maxlength="55", readonly)

        div.form-group.row
          div.col-sm-2.label-data
            label.control-label.mm(for='supplier_id') အဝယ်ဒိုင်
          div.col-sm-9.label-data
            select#supplier_id.selectpicker.form-control(name='supplier_id', value=params.supplier_id, data-value=params.supplier_id, data-live-search="false", data-size="20", required)
              option(value="") [Select one]  
          
        //- div.form-group.row
        //-   div.col-sm-2.label-data
        //-     label.control-label.mm(for='paymenttype') အဝယ်အမျိုးအစား
        //-   div.col-sm-9.label-data
        //-     select#paymenttype.selectpicker.form-control(name='paymenttype', value=params.paymenttype, data-value=params.paymenttype, data-live-search="false", data-size="20", required)
        //-       option.mm(value="cash") လက်ငင်း
        //-       option.mm(value="debt") အကြွေး

        div.form-group.row
          div.col-sm-2.label-data
            label.control-label(for='') ရွှေချိန် ဂရမ်
          div.col-sm-9.label-data
            input.gm-style.form-control#wgt_gm(class='container text-right', type='decimalnumber', name='wgt_gm', min="0", value=params.wgt_gm, maxlength="55")
            
        div.form-group.row  
          div.col-sm-2.label-data
          div.col-sm-9.row
            div.col-sm-2
              input.form-control#wgt_k(class='container text-right', class='losswgt_kpy_keypress', type='number', name='wgt_k', value=params.wgt_k, maxlength="55", readonly)
            div.col-sm-0.label-data
              label.control-label(for='wgt_k') ကျပ်
        
            div.col-sm-2
              input.form-control#wgt_p(class='container text-right', class='losswgt_kpy_keypress', type='number', name='wgt_p', value=params.wgt_p, maxlength="55", readonly)
            div.col-sm-0.label-data
              label.control-label(for='wgt_p') ပဲ
        
            div.col-sm-2
              input.form-control#wgt_y(class='container text-right', class='losswgt_kpy_keypress', type='decimalnumber', name='wgt_y', value=params.wgt_y, maxlength="55", readonly)
            div.col-sm-0.label-data
              label.control-label(for='wgt_y') ရွေး

        div.form-group.row
          div.col-sm-2.label-data
            label.control-label(for='') စျေးနှုန်း
          div.col-sm-9.label-data
            input.gm-style.form-control#current_rate(class='container text-right', type='number', min="0", name='current_rate', value=params.current_rate, maxlength="55")            
        
        div.form-group.row
            div.col-sm-2.label-data
              label.control-label(for='') ကျသင့်ငွေ
            div.col-sm-9.label-data
              input.gm-style.form-control#total_price(class='container text-right', type='number', min="0", name='total_price', value=params.total_price, maxlength="55", readonly)            

        div.form-group.row
          label.col-sm-2.control-label(for='remark') မှတ်ချက်
          div.col-sm-9
            textarea.form-control.mm#remark(name='remark')= params.remark

        div.form-group.row
          div.col-sm-6.label-data
            strong finished &nbsp;
              input#isfinished(type="checkbox", name="isfinished", value=params.isfinished, checked=(params.isfinished == 1))

      div.form-group.row.justify-content-md-center.form-actions
        button.btn.btn-primary#submitBtn(type='submit', role='button') Save
        a.btn.btn-secondary#actionCancel(href=listUrl, role='button', name='cancel') Cancel

    form#postSuccessForm(method='GET', action=listUrl)
    
  script.
    $(document).ready(function() {
      var token = "!{token}";

      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-purchase-gold').addClass('active');     
      $('div#purchase_subitems').addClass('show');

      var _tmp = $("#recordid").val();
      var isfinished = $("#isfinished").val();
      if (_tmp != "" && isfinished == 1) {
        document.getElementById('date').setAttribute("readonly", "");
        document.getElementById('ref_no').setAttribute("readonly", "");
        document.getElementById('supplier_id').setAttribute("disabled", true);
        document.getElementById('wgt_gm').setAttribute("readonly", "");
        document.getElementById('current_rate').setAttribute("readonly", "");
        document.getElementById('remark').setAttribute("readonly", "");
        document.getElementById('isfinished').setAttribute("disabled", true);
        $("#submitBtn").hide();
      }

      $('#supplier_id').Template({
        "template": "<option value='${=id}'>${=name}</option>",
        "ajax": {
          "url": "/api/customerview/getSupplier",
          "headers": {"authorization": "Bearer " + token},
          "dataSrc": "data"
        }
      }).on('completed', function() {
        var selectedVal = $('#supplier_id').data('value');
        if (selectedVal) {
          $('#supplier_id').selectpicker('val', selectedVal);
        }
        $('#supplier_id').selectpicker('refresh');
      });

      $("#isfinished").change(function() {
        if(this.checked) {
          $("#isfinished").val("on");
        } else {
          $("#isfinished").val("");
        }
      });

      //- $("select#paymenttype").Template({
      //-   "template": "<option value='cash'>လက်ငင်း</option><option value='debt'>အကြွေး</option>"
      //- }).on('completed', function() {
      //-   var selectedVal = $('#paymenttype').data('value');
      //-   if (selectedVal) {
      //-     $("#paymenttype option[value=" + selectedVal + "]").prop('selected', true);
      //-   }
      //-   $('#paymenttype').selectpicker('refresh');
      //- });

      $("#wgt_gm").change(function(e){
          //- var keycode = (event.keyCode ? event.keyCode : event.which);
          //- if(keycode == '13' && event.key === "Enter")
          //- { 
          $("#wgt_k").val("");
          $("#wgt_p").val("");
          $("#wgt_y").val("");

          var CurrentGm = $("#wgt_gm").val();
          var wgt_Gm = parseFloat(CurrentGm);

          $.ajax({
            url: "/services/ChangeGmToKPY?Gm=" + wgt_Gm.toString(),              
            headers: {"authorization": "Bearer " + token},
            success: function(result){
              var _tmpkpy = result.data;
              var _kpy = [];
              _kpy = _tmpkpy.toString().split("-");
              if(_kpy.length > 1){
                $("#wgt_k").val(_kpy[0].toString());
                $("#wgt_p").val(_kpy[1].toString());
                $("#wgt_y").val(_kpy[2].toString());
              } else {
                $("#wgt_k").val(0);
                $("#wgt_p").val(0);
                $("#wgt_y").val(0);
              }
              
            }
          });
          current_rate = $("#current_rate").val();
          wgt_Gm = $("#wgt_gm").val();
          wgt_K = wgt_Gm / 16.6;
          $("#current_rate").focus();
          calculateTotal();
          //- }
      });
      $("#current_rate").change(function(e){
        //- var keycode = (event.keyCode ? event.keyCode : event.which);
        //-   if(keycode == '13' && event.key === "Enter")
        //-   { 
        calculateTotal();
          //- }
      });

      function calculateTotal() {
        current_rate = $("#current_rate").val();
        wgt_Gm = $("#wgt_gm").val();
        wgy_K = wgt_Gm / 16.6;
        total_price =wgy_K * current_rate;
        $("#total_price").val(total_price.toFixed(0));
      }

      $("#alert").hide();

      $("#submitBtn").click(function() {
        $("#submitBtn").setAttribute("disabled", "");
      });

      $('#entryForm').on('keypress', function(e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) { 
          e.preventDefault();
          return false;
        }
      });

      $('#entryForm').submit(function(event) {
        event.preventDefault();
        
        $.ajax({
            url: $(this).attr("action"),
            type: $(this).attr("method"),
            data: $(this).formSerialize(),
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            processData: false,
            success: function(data) {
            if (data.success) {
              $("#alertTitle").html("Success");
              $("#alertMessage").html("Save Success!");
              $("#alert").addClass("alert-success").show();

              var postFrm = $('#postSuccessForm');
              var params = $.url(postFrm.attr('action')).param();
              if (!params) {
                for(var key in params) {
                  postFrm.append($('<input type="hidden" name="'+key+'" value="'+ params[key] +'" />'));
                }
              }
              window.setTimeout(function(){
                postFrm.submit();
              }, 2 * 1000);

            } else {
              $("#alertTitle").html("Error");
              $("#alertMessage").html("Error on save!");
              $("#alert").addClass("alert-danger").show();
            }
          }
        });
      });    
    });
