extends ../../includes/layout-dashboard

block content
  ol.breadcrumb
    li.breadcrumb-item
      a(href="/dashboard") Home
    li.breadcrumb-item
      a.mm(href="/return-gold") ပြန်သွင်း (ရွှေ)
    li.breadcrumb-item.active
      span.mm စာရင်းသွင်း
  h1.page-header.mm ပြန်သွင်း (ရွှေ)

  div.modal.fade.model-diamond#dialogAddGoldItems(tabindex='-1', role='dialog', aria-labelledby='AddGoldItems')
    div.modal-dialog.modal-sm(role='document', style='max-width:730px')
      div.modal-content
        div.modal-header
          h4.modal-title ပြန်သွင်းထည်
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') &times;
        div.modal-body
          div.form-group.row
            div.col-sm-6.row
              label.col-sm-4.control-label.mm(for='carat') ပစ္စည်း
              div.col-sm-7
                input#sale_gold_id(type='hidden', name='sale_gold_id', value=params.sale_gold_id)
                select.form-control.model-stock-code#item_id.selectpicker.form-control(name='item_id', value=params.item_id, data-value=params.item_id, data-live-search="false", data-size="3", required)
            div.col-sm-6.row
              label.col-sm-4.control-label(for='code') ပဲရည်
              div.col-sm-7
                input#category_id(type='hidden', name='category_id', value=params.category_id)
                input.form-control.model-stock-code#goldrate(type='text', name='goldrate', value=params.goldrate, required)

          div.form-group.row
            //- div.col-sm-3.row
            //-   label.col-sm-4.control-label(for='old_wgt_gm') Gram (ဟောင်း)
            //-   div.col-sm-8
            //-     input.form-control.model-stock-_wgt_gm#old_wgt_gm(type='number', name='old_wgt_gm',value=params.old_wgt_gm, maxlength="55")
            div.col-sm-4.row
              label.col-sm-4.control-label(for='old_wgt_k') ကျပ် (ဟောင်း)
              div.col-sm-8
                input.form-control.model-stock-wgt_gm#old_wgt_k(type='number', name='old_wgt_k',value=params.old_wgt_k, maxlength="55")
                input#old_wgt_gm(type='hidden', name='old_wgt_gm', value=params.old_wgt_gm)
            div.col-sm-4.row
              label.col-sm-4.control-label(for='old_wgt_p') ပဲ (ဟောင်း)
              div.col-sm-8
                input.form-control.model-stock-wgt_gm#old_wgt_p(type='number', name='old_wgt_p',value=params.old_wgt_p, maxlength="55")
            div.col-sm-4.row
              label.col-sm-4.control-label(for='old_wgt_y') ရွေး (ဟောင်း)
              div.col-sm-8
                input.form-control.model-stock-wgt_gm#old_wgt_y(type='number', name='old_wgt_y',value=params.old_wgt_y, maxlength="55")

          div.form-group.row
            //- div.col-sm-3.row
            //-   label.col-sm-4.control-label(for='wgt_gm') Gram
            //-   div.col-sm-8
            //-     input.form-control.model-stock-wgt_gm#wgt_gm(type='number', name='wgt_gm',value=params.wgt_gm, maxlength="55")
            div.col-sm-4.row
              label.col-sm-4.control-label(for='wgt_k') ကျပ်
              div.col-sm-8
                input.form-control.model-stock-wgt_gm#wgt_k(type='number', name='wgt_k',value=params.wgt_k, maxlength="55")
                input#wgt_gm(type='hidden', name='wgt_gm', value=params.wgt_gm)
            div.col-sm-4.row
              label.col-sm-4.control-label(for='wgt_p') ပဲ
              div.col-sm-8
                input.form-control.model-stock-wgt_gm#wgt_p(type='number', name='wgt_p',value=params.wgt_p, maxlength="55")
            div.col-sm-4.row
              label.col-sm-4.control-label(for='wgt_y') ရွေး
              div.col-sm-8
                input.form-control.model-stock-wgt_gm#wgt_y(type='number', name='wgt_y',value=params.wgt_y, maxlength="55")

          div.form-group.row
            div.col-sm-6.row
              label.col-sm-4.control-label(for='current_rate') ကာလပေါက်ရွှေဈေး
              div.col-sm-7
                input.form-control.model-stock-code#current_rate(class='container text-right', type='decimalnumber', min="0", name='current_rate', value=params.current_rate, maxlength="55", required)
            div.col-sm-6.row
              label.col-sm-4.control-label.mm(for='price') တန်ဖိုး
              div.col-sm-7
                input.form-control.model-stock-code#price(class='container text-right', type='number', name='price', value=params.price, min="0", required)

        div.modal-footer
          button.btn.btn-primary#dialogAccept(type='button', data-dismiss='modal') Ok
          button.btn.btn-secondary#dialogCancel(type='button', data-dismiss='modal') Cancel

  div.row.from-wrapper
    div.alert.alert-dismissible#alert(role='alert')
      strong.alert-title#alertTitle
      span#alertMessage
      button.close(type='button', data-hide='alert', aria-label='Close')
        span(aria-hidden='true') &times;

    form.form-horizontal#entryForm(method='post', action=`${postUrl}`)
      input#recordid(type='hidden', name='id', value=params.id)
      input#createddate(type='hidden', name='createddate', value=params.createddate)
      input#updateddate(type='hidden', name='updateddate', value=params.updateddate)
      //- input#total_amount(type='hidden', name='total_amount', value=total_amount)
      input#customers(type='hidden', name='customers', value=customers)

      div.form-group.row
        div.row.col-sm-6
          label.col-sm-4.control-label.mm(for='date') ရက်စွဲ
          div.col-sm-8
            input.form-control.fromdate#date(type='text', name='date', value=params.date, required)
        div.row.col-sm-6
          label.col-sm-4.control-label(for='voc_no') Voc No
          div.col-sm-8
            input.form-control#voc_no.mm(type='text', name='voc_no', value=params.voc_no, maxlength="55", readonly)

      div.form-group.row
        div.row.col-sm-6
          label.col-sm-4.control-label.mm(for='customer_code') Customer ID
          div.col-sm-8
            input.form-control.model-stock-code#customer_code(type='text', name='customer_code', value=params.customer_code, maxlength="55", required)
            input#customer_id(type='hidden', name='customer_id', value=params.customer_id)
        div.row.col-sm-6
          label.col-sm-4.control-label.mm(for='customer_name') Customer နာမည်
          div.col-sm-8
            input.form-control.model-stock-code#customer_name(type='text', name='customer_name', value=params.customer_name, maxlength="55", required)

      div.form-group.row
        div.row.col-sm-6
          label.col-sm-4.control-label.mm(for='phone') ဖုန်းနံပါတ်
          div.col-sm-8
            input.form-control.model-stock-code#phone(type='number', name='phone', value=params.phone, maxlength="55", required)
        div.row.col-sm-6
          label.col-sm-4.control-label(for='sale_person_id') Sale Person
          div.col-sm-8.label-data
            select#sale_person_id.selectpicker.form-control(name='sale_person_id', value=params.sale_person_id, data-value=params.sale_person_id, data-live-search="false", data-size="20", required)
              option(value="") [Select one]

      div.text-right
      div.card
        div.card-body
          h3.card-title.mm ပစ္စည်းစာရင်း
          div.form-group.row#tblgen()
            div.table-responsive.col-md-12
              table#list.table.table-bordered
                thead
                    tr
                    th.mm(scope='col') ပစ္စည်း
                    th.mm(scope='col') ပဲရည်
                    th.mm(scope='col') ကျပ် 
                    th.mm(scope='col') ပဲ
                    th.mm(scope='col') ရွေး
                    th.mm(scope='col') ကာလပေါက်ရွှေဈေး
                    th.mm(scope='col') တန်ဖိုး
                    th.mm.edit-hidden(scope='col') 
                      a.btn.btn-success.list-action-text#btngeneral(href="#", role="button", title="Add", data-toggle="modal", data-target="#dialogAddGoldItems")
                        i.fa.fa-plus
                tbody#tbody
                  input#item_array(type='hidden', name='item_array', value=item_array)
                
                  each item, index in item_array
                    tr
                      td
                        span=item.item_name
                      td
                        span=item.goldrate
                      td
                        span=item.wgt_k
                      td
                        span=item.wgt_p
                      td
                        span=item.wgt_y
                      td
                        span=item.current_rate
                      td
                        span=item.price
                      td.edit-hidden
                        button.btn.btn-danger.btn-xs.btn-delete Delete

      div.card
        div.card-body 
          h3.card-title.mm ငွေပေးချေမှု
          div.form-group.row
            div.row.col-sm-6
              label.col-sm-4.control-label.mm(for='total_amount') Total Amount
              div.col-sm-8
                input.form-control.model-stock-code#total_amount(type='text', name='total_amount', value=params.total_amount, maxlength="55", readonly)

          div.form-group.row
            div.row.col-sm-6
              label.col-sm-4.control-label(for='profit_percent') အမြတ် %
              div.col-sm-8
                input.form-control.model-stock-code#profit_percent(type='number', name='profit_percent', value=params.profit_percent, maxlength="55")

            div.row.col-sm-6
              label.col-sm-4.control-label.mm(for='profit_amount') အမြတ်
              div.col-sm-8
                input.form-control#profit_amount(class='container text-right', type='decimalnumber', min="0", name='profit_amount', value=params.profit_amount, readonly)

          div.form-group.row
            div.row.col-sm-6
              label.col-sm-4.control-label.mm(for='discount_amount') Discount
              div.col-sm-8
                input.form-control.model-stock-code#discount_amount(class='container text-right', type='decimalnumber', min="0", name='discount_amount', value=params.discount_amount)

          div.form-group.row
            div.row.col-sm-6
              label.col-sm-4.control-label.mm(for='subtotal') ကျန်ငွေ
              div.col-sm-8
                input.form-control.model-stock-code#subtotal(type='text', name='subtotal', value=params.subtotal, maxlength="55", readonly)

      div.row.justify-content-md-center.form-actions
        button.btn.btn-primary#submitBtn(type='submit', role='button') Save

    form#postSuccessForm(method='GET', action=listUrl)
  script.
    $(document).ready(function() {
      var token = "!{token}";
      var item_array = [];
      var total_amount = 0;
      var sale_items = [];
      $("#btngeneral").hide();

      $('div.sidebar-sticky li.nav-item').removeClass('active');
      $('li#menu-return-gold').addClass('active');
      $('div#returnshowroom_subitems').addClass('show');

      $(window).keypress(function(event) {
        if (!(event.which == 13 && event.key == "Enter") && !(event.which == 13)) return true;
        $("#container form input[name=cancel]").click();
        event.preventDefault();
        return false;
      });

      var _tmp = $("#recordid").val();
      if (_tmp != '') {
        item_array = JSON.parse($("#item_array").val());
        item_array.forEach((item) => {
          $price = item.price.replace(/,/g, '');
          total_amount += Number($price);
        });
        if (item_array.length >= 3) {
          $("#btngeneral").hide();
        } else {
          $("#btngeneral").show();
        }
        document.getElementById('customer_code').setAttribute("readonly", "");
        document.getElementById('customer_name').setAttribute("readonly", "");
        document.getElementById('phone').setAttribute("readonly", "");
      } else {

      }

      $('#sale_person_id').Template({
        "template": "<option value='${=id}'>${=sale_person_name}</option>",
        "ajax": {
          "url": "/api/sale_person",
          "headers": {"authorization": "Bearer " + token},
          "dataSrc": "sale_person"
        }
      }).on('completed', function() {
        var selectedVal = $('#sale_person_id').data('value');
        if (selectedVal) {
          $('#sale_person_id').selectpicker('val', selectedVal);
        }
        $('#sale_person_id').selectpicker('refresh');
      });

      function commaSeparateNumber(val){
        while (/(\d+)(\d{3})/.test(val.toString())){
          val = val.toString().replace(/(\d+)(\d{3})/, '$1'+','+'$2');
        }
        return val;
      }

      function calcSubtotal() {
        $profit_percent = $("#profit_percent").val() > 0 ? $("#profit_percent").val() : 0;
        $profit_amount = total_amount * ($profit_percent / 100);
        $profit_amount = Number($profit_amount);
        $profit_amt_comma = commaSeparateNumber($profit_amount.toFixed(2));
        $("#profit_amount").val($profit_amt_comma);
        $discount_amount = $("#discount_amount").val().replace(/,/g, '');
        $subtotal = Number(total_amount) - (Number($profit_amount) + Number($discount_amount));
        console.log("subtotal ", $subtotal, " type ", typeof $subtotal);
        $subtotal_comma = commaSeparateNumber($subtotal.toFixed(2));
        $("#subtotal").val($subtotal_comma);
      }

      const modal = $(".modal-body");
      const customers = JSON.parse($("#customers").val());
      $("#customer_code").autocomplete({
        source: customers,
        minLength: 1,
        select: function (event, cus) {
          event.preventDefault();
          var selectedCus = cus.item.value;
          $("#customer_id").val('');
          $("#customer_code").val('');
          $("#customer_name").val('');
          $("#phone").val('');
          $.ajax({
            "url": "/api/customerview/getCustomerById?id="+selectedCus,
            "headers": {"authorization": "Bearer " + token},
            success: function(result){ 
              $("#customer_id").val(result.customer[0].id);
              $("#customer_code").val(result.customer[0].code);
              $("#customer_name").val(result.customer[0].customer_name);
              $("#phone").val(result.customer[0].phone);
              $("#btngeneral").show();
            }
          });
        },
        focus: function(event, cus) {
          event.preventDefault();
          $("#customer_code").val(cus.item.label);
        }
      });

      //- $("#sale_gold_id").change(function() {
      //-   $sale_gold_id = $("#sale_gold_id").val();
      //-   $('#item_id').Template({
      //-     "template": "<option value='${=id}'>${=item_name}</option>",
      //-     "ajax": {
      //-       "url": "/api/saleview/getSaleGoldItem?id=" + $sale_gold_id,
      //-       "headers": {"authorization": "Bearer " + token},
      //-       "dataSrc": "data"
      //-     }
      //-   }).on('completed', function() {
      //-     var selectedVal = $('#item_id').data('value');
      //-     if (selectedVal) {
      //-       $('#item_id').selectpicker('val', selectedVal);
      //-     }
      //-     $('#item_id').selectpicker('refresh');
      //-   });
      //- })

      $("#item_id").change(function() {
        $item_id = $("#item_id").val();
        $.ajax({
          url: "/api/itemview/getGoldPriceWithID?item_id=" + $item_id,
          headers: {"authorization": "Bearer " + token},
          success: function(result) {
            $("#sale_gold_id").val(result.sale_gold_id);
            $("#category_id").val(result.category_id);
            $("#old_wgt_gm").val(result.wgt_gm);
            $("#old_wgt_k").val(result.wgt_k);
            $("#old_wgt_p").val(result.wgt_p);
            $("#old_wgt_y").val(result.wgt_y);
            $("#goldrate").val(result.goldrate);
            $("#current_rate").val(result.current_rate);
          }
        })
      });

      $("#profit_percent").change(function() {
        $profit_percent = $("#profit_percent").val();
        $profit_amt = total_amount * ($profit_percent / 100);
        $profit_amt = Number($profit_amt);
        $profit_amt_comma = commaSeparateNumber($profit_amt.toFixed(2));
        $("#profit_amount").val($profit_amt_comma);
        calcSubtotal();
      });

      $("#discount_amount").change(function() {
        $discount_amount = $("#discount_amount").val();
        calcSubtotal();
      });

      $("#wgt_k").change(function() {
        calcGram();
      });

      $("#wgt_p").change(function() {
        calcGram();
      });

      $("#wgt_y").change(function() {
        calcGram();
      });

      function calcGram() {
        $wgt_k = ($("#wgt_k").val() == "") ? 0 : $("#wgt_k").val();
        $wgt_p = ($("#wgt_p").val() == "") ? 0 : $("#wgt_p").val();
        $wgt_y = ($("#wgt_y").val() == "") ? 0 : $("#wgt_y").val();
        $current_rate_comma = $("#current_rate").val();
        $current_rate = $current_rate_comma.replace(/,/g, '');
        $.ajax({
          url: "/services/calc_amount_from_kpy?wgt_k=" + $wgt_k.toString() + "&wgt_p=" + $wgt_p.toString() + "&wgt_y=" + $wgt_y.toString() + "&current_rate=" + $current_rate.toString(),        
          headers: {"authorization": "Bearer " + token},
          success: function(result){
            var _tmpgm = result.data.wgt_gm;
            var _price = result.data.price;
            $("#wgt_gm").val(_tmpgm.toFixed(2));
            $("#price").val(_price.toFixed(2));
          }
        });
      }

      $("#btngeneral").on("click", function(ev) {
        isEdit = false;
        ev.preventDefault();
        var target = $(this).attr("href");

        $("#item_id").empty();
        $customer_id = $("#customer_id").val();
        $('#item_id').Template({
          "template": "<option value='${=id}'>${=item_name}</option>",
          "ajax": {
            "url": "/api/saleview/getSaleGoldItemByCustomer?customer_id="+$customer_id,
            "headers": {"authorization": "Bearer " + token},
            "dataSrc": "data"
          }
        }).on('completed', function() {
          var selectedVal = $('#item_id').data('value');
          if (selectedVal) {
            $('#item_id').selectpicker('val', selectedVal);
          }
          $('#item_id').selectpicker('refresh');
        });
        $("#item_id").empty("");
        $("#goldrate").val("");
        $("#old_wgt_gm").val("");
        $("#old_wgt_k").val("");
        $("#old_wgt_p").val("");
        $("#old_wgt_y").val("");
        $("#wgt_gm").val("");
        $("#wgt_k").val("");
        $("#wgt_p").val("");
        $("#wgt_y").val("");
        $("#current_rate").val("");
        $("#price").val("");
      });

      $("#dialogAccept").on("click", function(ev) {
        ev.preventDefault();

        var selected = $('#item_id option:selected');
        selected.each(function (a) {
            $item_name = $(this).text();
            $item_id = $(this).val();
        });
        $isExit = 0;
        if (item_array.length > 0) {
          item_array.forEach((item) => {
            if (item.item_id == $item_id) {
              $isExit = 1;
            }
          });
        }

        if ($isExit == 0) {
          $sale_gold_id = $("#sale_gold_id").val();
          $category_id = $("#category_id").val();
          $goldrate = $("#goldrate").val();
          $old_wgt_gm = $("#old_wgt_gm").val();
          $old_wgt_k = $("#old_wgt_k").val();
          $old_wgt_p = $("#old_wgt_p").val();
          $old_wgt_y = $("#old_wgt_y").val();
          $wgt_gm = $("#wgt_gm").val();
          $wgt_k = $("#wgt_k").val() == "" ? 0 : $("#wgt_k").val();
          $wgt_p = $("#wgt_p").val() == "" ? 0 : $("#wgt_p").val();
          $wgt_y = $("#wgt_y").val() == "" ? 0 : $("#wgt_y").val();
          $current_rate = $("#current_rate").val();
          $price = $("#price").val();
          $price = Number($price);
          total_amount += Number($price);
          $price_comma = commaSeparateNumber($price.toFixed(2));
          $total_amount_comma = commaSeparateNumber(total_amount.toFixed(2));
          $("#total_amount").val($total_amount_comma);
          calcSubtotal();
          var item = {"sale_gold_id": $sale_gold_id, "item_id": $item_id, "category_id": $category_id, "goldrate": $goldrate, "old_wgt_gm": $old_wgt_gm, "old_wgt_k": $old_wgt_k, "old_wgt_p": $old_wgt_p, "old_wgt_y": $old_wgt_y, "wgt_gm": $wgt_gm, "wgt_k": $wgt_k, "wgt_p": $wgt_p, "wgt_y": $wgt_y, "current_rate": $current_rate, "price": $price };
          item_array.push(item);
          if (item_array.length == 3) {
            $("#btngeneral").hide();
          }
          markup = "<tr><td> " + $item_name + "</td><td> " + $goldrate + "</td><td> " + $wgt_k + "</td><td> " + $wgt_p + "</td><td> " + $wgt_y + "</td><td> " + $current_rate + "</td><td> " + $price_comma + "</td><td><button class='btn btn-danger btn-xs btn-delete' >Delete</button></td></tr>";
          tablebody = $("#list #tbody");
          tablebody.append(markup);
          $("#item_array").val(JSON.stringify(item_array));
        }
      });

      $("#list").on("click", ".btn-delete", function(ev){
        item_array = JSON.parse($("#item_array").val());
        var idx = $(this).closest('tr').first();
        var index = idx[0].sectionRowIndex;
        $price_comma =  item_array[index].price;
        $price = $price_comma.replace(/,/g, '');
        total_amount -= Number($price);
        $total_amount_comma = commaSeparateNumber(total_amount.toFixed(2));
        $("#total_amount").val($total_amount_comma);
        calcSubtotal();
        item_array.splice(index,1);
        if (item_array.length < 3) {
          $("#btngeneral").show();
        }
        $(this).parents("tr").remove();
        $("#item_array").val(JSON.stringify(item_array));
      });

      $("#submitBtn").click(function() {
        $("#submitBtn").setAttribute("disabled", "");
      });

      $("#alert").hide();
      $('#entryForm').ajaxForm({
        success: function(data) {
          if (data.success) {
            $("#alertTitle").html("Success");
            $("#alertMessage").html("Save Success!");
            $("#alert").addClass("alert-success").show();

            var postFrm = $('#postSuccessForm');
            var params = $.url(postFrm.attr('action')).param();
            if (!params) {
              for(var key in params) {
                postFrm.append($('<input type="hidden" name="'+key+'" value="'+ params[key] +'" />'));
              }
            }
            window.setTimeout(function(){
              postFrm.submit();
            }, 2 * 1000);

          } else {
            $("#alertTitle").html("Error");
            $("#alertMessage").html("Error on save!");
            $("#alert").addClass("alert-danger").show();
          }
        }
      });
    });